<phpunit bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="blend">
            <file>tests/BlendTest.php</file>
            <file>tests/ChunkTest.php</file>
            <file>tests/PluginTest.php</file>
            <file>tests/ResourceTest.php</file>
            <file>tests/SnippetTest.php</file>
            <file>tests/SystemSettingsTest.php</file>
            <file>tests/TemplateTest.php</file>
            <file>tests/TemplateTVTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
